flows.json
[{"id":"e21f4709.7cb1b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3887ee72.ae5d52","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3ea92f4.6a136d","type":"ui_group","z":"","name":"Avalanche Forecasting","tab":"3887ee72.ae5d52","order":1,"disp":true,"width":"6","collapse":false},{"id":"b0ea24a8.f53528","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f2f2649a.0d0d98","type":"debug","z":"e21f4709.7cb1b8","name":"","active":true,"console":"false","complete":"false","x":790,"y":120,"wires":[]},{"id":"14192b86.c78c34","type":"ui_form","z":"e21f4709.7cb1b8","name":"","label":"","group":"3ea92f4.6a136d","order":1,"width":0,"height":0,"options":[{"label":"Slope","value":"slope","type":"number","required":true,"rows":null},{"label":"Forest Density","value":"fd","type":"text","required":true,"rows":null},{"label":"Snow Density","value":"sd","type":"number","required":true,"rows":null},{"label":"Air Temperature","value":"at","type":"number","required":true,"rows":null},{"label":"Wind","value":"wind","type":"number","required":true,"rows":null}],"formValue":{"slope":"","fd":"","sd":"","at":"","wind":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":380,"wires":[["f027f9ff.adce48"]]},{"id":"f027f9ff.adce48","type":"function","z":"e21f4709.7cb1b8","name":"Pre Token","func":"global.set(\"slope\",msg.payload.slope)\nglobal.set(\"fd\",msg.payload.fd)\nglobal.set(\"sd\",msg.payload.sd)\nglobal.set(\"at\",msg.payload.at)\nglobal.set(\"wind\",msg.payload.wind)\nvar apikey=\"dCP7DhVeic3I_i5bL-V8TuTAc5KsOy_6Yq5AZmnlY09o\";\nmsg.headers={\"Content-Type\" : \"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":260,"wires":[["e8958725.7ee7e8"]]},{"id":"e8958725.7ee7e8","type":"http request","z":"e21f4709.7cb1b8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.bluemix.net/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":360,"wires":[["5f150300.0b742c"]]},{"id":"5f150300.0b742c","type":"function","z":"e21f4709.7cb1b8","name":"Pre Prediction","func":"var slope=global.get(\"slope\")\nvar fd=global.get(\"fd\")\nvar sd=global.get(\"sd\")\nvar at=global.get(\"at\")\nvar wind=global.get(\"wind\")\nvar token=msg.payload.access_token\nvar instance_id=\"be373041-e851-427d-86cc-cc4dc3ce0622\"\nmsg.headers={'Content-Type':'application/json','Accept':'application/json',\"Authorization\": \"Bearer\"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Slope\", \"Forest Density\", \"Snow Density\", \"Air Temperature\", \"Wind\"],\"values\": [[slope,fd,sd,at,wind]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":260,"wires":[["fa150ce9.88af"]]},{"id":"fa150ce9.88af","type":"http request","z":"e21f4709.7cb1b8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/1f4b8fed-10ea-45d7-86e0-cd2f708e947f/predictions","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":260,"wires":[["f2f2649a.0d0d98","ce763ad2.066fa8"]]},{"id":"ce763ad2.066fa8","type":"function","z":"e21f4709.7cb1b8","name":"func parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":380,"wires":[["555b9acb.adb114"]]},{"id":"555b9acb.adb114","type":"ui_text","z":"e21f4709.7cb1b8","group":"3ea92f4.6a136d","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":320,"wires":[]}]